.scanner-label{
    width: 10%;
    background-color: #3182ce;
    padding: .5rem 1rem;
    color: white;
    font-weight: 500;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
}

@media screen and (max-width: 500px) {
    .scanner-label{
        width: 30%;
    }
}